<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
	<title>Leaving Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular/angular.min.js"></script>
	<script src="angular-route/angular-route.min.js"></script>
	<script src="angular-cookies/angular-cookies.min.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>
	<script src="angular-aria/angular-aria.min.js"></script>
	<script src="angular-messages/angular-messages.min.js"></script>
	<link rel="stylesheet" href="angular-material/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="ng-simple-parallax/js/ngParallax.min.js"></script>
	<script src="angular-material/angular-material.min.js"></script>
	<script src="./assets/app.js"></script>
	<script src="./assets/factories/mainFactory.js"></script>
	<script src="./assets/factories/userFactory.js"></script>
	<script src="./assets/controllers/mainController.js"></script>
	<script src="./assets/controllers/nasaController.js"></script>
	<script src="./assets/controllers/userController.js"></script>
	<script src="./assets/controllers/redditController.js"></script>
	<script src="./assets/controllers/profileController.js"></script>
	<link rel="stylesheet" href="./main.css" media="screen" charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body ng-controller="mainController" >

<!-- - - - - - - - - - - - - - - - -Header- - - - - - - - - - - - - - - -->
	<div class="header">
		<md-button id="toggle" class="md-icon-button" ng-click="toggleLeft()" class="md-raised">
			<md-icon class="material-icons" ng-style="{color: 'white'}" aria-label="Close dialog">menu</md-icon>
		</md-button>
		<h1>Leaving Home</h1>
		<md-button class="login_reg_button" ng-controller="userController" ng-click="showLoginDialog($event)" ng-if="user == null">
		Login/Registration
		</md-button>
		<md-button class="login_reg_button" ng-controller="userController" ng-click="logoutUser()" ng-if="user !== null">
		Log Out
		</md-button>
	</div>

<!-- - - - - - - - - - - - - - - - - Left Slider - - - - - - - - - - -  -->
	<div layout="column" ng-cloak="">
		<section layout="row" flex="">
			<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
				<md-toolbar>
					<md-button class="md-icon-button" ng-click="toggleLeft()">
						<md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
					</md-button>
				</md-toolbar>
				<md-content layout-margin="">
					<ul>
						<li>
							<md-button class="md-icon-button" ng-click="toggleLeft()" ng-href="#/">
								<md-icon class="material-icons" ng-style="{color: 'white'}" aria-label="home">home</md-icon>
							</md-button>
							<a ng-click="toggleLeft()" ng-href="#/">Home</a>
						</li>
						<hr>
						<li ng-if="user !== null">
							<md-button class="md-icon-button" ng-href="#/profile/{{user.id}}" ng-click="toggleLeft()">
								<md-icon class="material-icons" ng-style="{color: 'lightblue'}" aria-label="profile">account_box</md-icon>
							</md-button>
							<a ng-href="#/profile/{{user.id}}" ng-click="toggleLeft()">Profile</a>
						</li>
						<li ng-if="user == null">
							<md-button class="md-icon-button" ng-controller="userController" ng-click="showLoginDialog($event)">
								<md-icon class="material-icons" ng-style="{color: 'lightblue'}" aria-label="profile">account_box</md-icon>
							</md-button>
							<a ng-controller="userController" ng-click="showLoginDialog($event)">Profile</a>
						</li>
						<hr>
						<li>
							<md-button class="md-icon-button" ng-href="#/favorites" ng-click="toggleLeft()">
								<md-icon class="material-icons" ng-style="{color: 'red'}" aria-label="profile">favorite_border</md-icon>
							</md-button>
							<a ng-href="#/favorites" ng-click="toggleLeft()">Favorites</a>
						</li>
						<hr>
					</ul>
				</md-content>
			</md-sidenav>
		</section>
	</div>
<!-- - - - - - - - - - - - - - - - -Partial Loading Div- - - - - - - - - - -->
	<div ng-view>
	</div>
</body>
</html>
