<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome</title>
</head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular/angular.js"></script>
    <script src="angular-route/angular-route.js"></script>
    <script src="angular-cookies/angular-cookies.js"></script>
    <script src="angular-animate/angular-animate.js"></script>
    <script src="angular-aria/angular-aria.js"></script>
    <script src="angular-messages/angular-messages.js"></script>
    <link rel="stylesheet" href="angular-material/angular-material.min.css">
    <script src="angular-material/angular-material.js"></script>
    <script src="./assets/app.js"></script>
    <script src="./assets/factories/photoFactory.js"></script>
    <script src="./assets/controllers/photoController.js"></script>
    <link rel="stylesheet" href="./main.css" media="screen" charset="utf-8">
<body>
<!-- Header -->
<div ng-controller="photoController" layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="app">
    <div class="header" layout="row">
		<md-button ng-click="toggleLeft()" class="md-raised">Toggle Sidenav</md-button>
        <section class="center">
			<h1>Leaving Home</h1>
		</section>
    </div>

<!-- Sidebar -->
<section layout="row" flex="">
<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
  <md-toolbar>
	  <md-button ng-click="toggleLeft()" class="md-raised">Close</md-button>
  </md-toolbar>
  <md-content layout-margin="">
    <ul>
		<li>Number 1</li>
		<li>Number 2</li>
		<li>Number 3</li>
		<li>Number 4</li>
		<li>Number 5</li>
    </ul>
  </md-content>
</md-sidenav>
<md-content flex="" layout-padding="">
  <div layout="column" layout-align="top center">
    <p>
      Developers can also disable the backdrop of the sidenav.<br>
      This will disable the functionality to click outside to close the sidenav.
    </p>
	<!-- Main -->
	<div class="main" ng-view>
	</div>

    <div>
      <!-- <md-button ng-click="toggleLeft()" class="md-raised">Toggle Sidenav</md-button> -->
    </div>
  </div>
</md-content>
</section>
</div>

</body>
</html>
