<!DOCTYPE html>
<html lang="en"  ng-app="app">
<head>
	<title>Leaving Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="angular/angular.min.js"></script>
	<script src="angular-route/angular-route.min.js"></script>
	<script src="angular-cookies/angular-cookies.min.js"></script>
	<script src="angular-animate/angular-animate.min.js"></script>
	<script src="angular-aria/angular-aria.min.js"></script>
	<script src="angular-messages/angular-messages.min.js"></script>
	<link rel="stylesheet" href="angular-material/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<script src="ng-simple-parallax/js/ngParallax.min.js"></script>
	<script src="angular-material/angular-material.min.js"></script>
	<script src="./assets/app.js"></script>
	<script src="./assets/factories/mainFactory.js"></script>
	<script src="./assets/factories/userFactory.js"></script>
	<script src="./assets/controllers/mainController.js"></script>
	<script src="./assets/controllers/nasaController.js"></script>
	<script src="./assets/controllers/userController.js"></script>
	<link rel="stylesheet" href="./main.css" media="screen" charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
</head>
<body ng-controller="mainController" >

<!-- - - - - - - - - - - - - - - - -Header- - - - - - - - - - - - - - - -->
	<div class="header">
		<md-button id="toggle" ng-click="toggleLeft()" class="md-raised">Navigation</md-button>
		<h1>Leaving Home</h1>
		<md-button id="login_reg_button" ng-controller="userController" ng-click="showLoginDialog($event)">
		Login/Registration
		</md-button>
	</div>

<!-- - - - - - - - - - - - - - - - -Partial Loading Div- - - - - - - - - - -->
	<div ng-view>
	</div>

<!-- - - - - - - - - - - - - - - - - Left Slider - - - - - - - - - - -  -->
	<div layout="column" ng-cloak="">
		<section layout="row" flex="">
			<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop="" md-whiteframe="4">
				<md-toolbar>
					<div id="toggle">
						<a ng-click="toggleLeft()" class="md-raised">Navigation</a>
					</div>
				</md-toolbar>
				<md-content layout-margin="">

					<ul>
						<a href="#/">
							<li>Home</li>
						</a>
							<hr>
						<li>Placeholder Text</li>
							<hr>
						<li>Placeholder Text</li>
							<hr>
						<li>Placeholder Text</li>
							<hr>
						<li>Placeholder Text</li>
							<hr>
					</ul>
				</md-content>
			</md-sidenav>
		</section>
	</div>
</body>
</html>
