body {
	font-family: Roboto;
	background-color: #000000;
}
.header {
	border-bottom: solid #262626 1px;
	padding: 0.7rem 0;
	background-color: black;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 3;
}
#toggle {
	display: inline-block;
	position: fixed;
	left: 0;
	margin: 0 0 0 0.6rem;
	color: #ffffff;
	border: solid 1px #262626;
	background-color: #343434;
	border-radius: 0.2rem;
	padding: 0.1rem 0.3rem;
	text-transform: none;
}
h1 {
	/*font-variant: small-caps;*/
	margin: 0;
	font-weight:300;
	font-size: 2.2rem;
	color: lightgray;
	letter-spacing: 1rem;
	display: inline-block;
}
#login_reg_button {
	position: fixed;
	display: inline-block;
	right: 0;
	color: #ffffff;
	margin: 0 0.6rem 0 0;
	font-weight: 400;
	font-size: 1rem;
	border: solid 1px #262626;
	background-color: #343434;
	padding: 0.1rem 0.3rem;
	border-radius: 0.2rem;
	text-transform: none;
}
.top_container {
	height: 34rem;
	border: solid #0d0d0d 1px;
	text-align: center;
	position: relative;
	top: 3em;
}
#main_banner {
	position: relative;
	background: url(../assets/img/horsehead_nebula.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:50%;
	box-sizing: border-box;
	height: 100%;
	padding: 0 15px;
}
.source_container {
	width: 100%;
	position: absolute;
	margin-top: -2rem;
	text-align: center;
	z-index: 1;
}
#nasa_container {
	vertical-align: top;
	height: 10.5rem;
	width: 12.5rem;
	display: inline-block;
}
#reddit_container {
  height: 11rem;
  width: 11rem;
  display: inline-block;
  margin-left: 3rem;
}
.source_container img {
  height:100%;
  width: 100%;
}
.quote_container {
	text-align: center;
	padding: 13rem 0 0 0;
	background-color: #000000;
	font-size: 1rem;
}
.quote {
	color: white;
}
.quote span {
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 0.3rem;
}
.quote p {
	text-align: right;
	margin: 2rem 2rem 0 0;
	color: #346fd0;
}

/*****************LOGIN*****************/
.registration {
	border-right: solid black 1px;
}
md-input-container {
	margin: 0 auto;
}

/***************SIDEBAR***************/
md-toolbar:not(.md-menu-toolbar) {
	background-color: #000000;
	min-height: 1rem;
	border-bottom: solid #262626 1px;
	padding: 0.75rem
}
.md-sidenav-left, md-sidenav {
	background-color: rgba(0, 0, 0, 0.75);
	width: 16rem;
}
md-sidenav md-content {
	background-color: rgba(0, 0, 0, 0);
}
ul {
	padding: 0;
	margin: 0;
}
li {
	color: #ffffff;
	line-height: 2rem;
	letter-spacing: 0.6rem;
	font-feature-settings: "liga" 0;
}
hr {
	margin: 0;
	border-color: #343434;
}
a {
	text-decoration: none;
	color: #ffffff;
}

/************NASA PARTIAL************/

#nasa_main_banner {
	position: relative;
	background: url(../assets/img/space_tree.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position:50%;
	box-sizing: border-box;
	height: 100%;
	padding: 0 15px;
}
#nasa_main_banner img {
	height: 10.5rem;
	width: 12.5rem;
	margin-top: 8rem;
}
#nasa_main_banner h4 {
	margin-top: 2rem;
	color: white;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 0.3rem;
}
#nasa_main_banner p {
	color: #ffffff;
	float: right;
	margin-right: 20%;
	letter-spacing: 0.1rem;
}
.photo_container {
	height:auto;
	background-color: black;
	margin-top: 3rem;
}
.md-padding {
	padding: 0rem;
}
.md-card-image {
	height: 12rem;
	width: inherit;;
}
.md-padding {
	background-color: #000000;
}
.md-padding md-card {
	background-color: rgba(52,52,52,0.5);
	color: white;
}
.layout-align-space-between-stretch.layout-column {
	height: 100%;
	padding-bottom: 0;
}
md-card-actions {
	margin: 0;
}

/***************REDDIT PARTIAL***************/
#reddit_main_banner {
	position: relative;
	background: url(../assets/img/shuttle_launch.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	/*background-position:50%;*/
	box-sizing: border-box;
	height: 100%;
	padding: 0 15px;
}
#reddit_main_banner img {
	height: 10.5rem;
	width: 11rem;
	margin-top: 8rem;
}
#reddit_main_banner h4 {
	margin-top: 3rem;
	font-size: 2rem;
	font-weight: 100;
	letter-spacing: 0.5rem;
}
#reddit_main_banner p {
	float: right;
	margin-right: 20%;
}
