.header {
  /*text-align: center;*/
  border-bottom: solid black 1px;
  padding: 0.3em 0;
  background-color: white;
}
h1 {
  margin: 0;
  font-weight:200;
  font-size: 3em;
  letter-spacing: 0.07em;
}
.sidebar {
  display: inline-block;
  width: 20%;
  height: 1000px;
  float: left;
  background-color: #e0e0eb;
  border-right: solid black 1px;
}
.photo {
  display: inline-block;
  height: auto;
  width: 18%;
  border: solid black 1px;
  vertical-align: top;
}
.md-raised {
  float: left;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
md-toolbar:not(.md-menu-toolbar) {
  background-color: #e0e0eb;
}
md-sidenav {
  width: 15em;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  line-height: 2.5em;
}

img {
  width: 100%;
  height: auto;
}
