<md-dialog aria-label="Login" ng-controller="mainController">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Please Log In</h2>
					<span flex></span>
			<md-button class="md-icon-button" ng-controller="mainController" ng-click="cancel()">
				<md-icon class="material-icons" aria-label="Close dialog">cancel</md-icon>
			</md-button>
		</div>
		</md-toolbar>
		<md-dialog-content layout="row">

<!-- - - - - - - - - - - - - -REGISTRATION- - - - - - - - - -  -->
				<div class="md-dialog-content registration" layout="column">
					<form name="newUser" ng-submit="registerUser(); answer()">
						<md-input-container class="md-block">
							<label>First Name</label>
							<input required ng-model="newUser.first_name">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Last Name</label>
							<input required ng-model="newUser.last_name">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Email</label>
							<input required ng-model="newUser.email" type="email">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Password</label>
							<input required type="password" ng-model="newUser.password">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Confirm Password</label>
							<input required type="password" ng-model="newUser.pw_conf">
						</md-input-container>
						<md-input-container>
							<md-button type="submit" class="md-button md-raised" ng-disabled="newUser.$invalid">Register</md-button>
						</md-input-container>
					</form>
				</div>
<!-- - - - - - - - - - - - - - LOGIN- - - - - - - - - - - - - -  -->
				<div class="md-dialog-content" layout="column">
					<form name="existingUser"  ng-submit="loginUser(); answer()">
						<md-input-container class="md-block">
							<label>Email</label>
							<input required ng-model="existingUser.email" type="email">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Password</label>
							<input required type="password" ng-model="existingUser.password">
						</md-input-container>
						<md-input-container>
							<md-button type="submit" class="md-button md-raised" ng-disabled="existingUser.$invalid">Login</md-button>
						</md-input-container>
					</form>
				</div>
		</md-dialog-content>
</md-dialog>
