<div class="top_container">
	<div id="top_photo"></div>
</div>
<div class="source_container">
	<div id="nasa_container">
		<a href="#/nasa"><img src="../assets/images/nasa_logo.png" alt="nasa logo" /></a>
	</div>
	<div id="reddit_container">
		<a href="#/reddit"><img src="../assets/images/reddit_logo2.png" alt="reddit logo" /></a>
	</div>
</div>
<div class="quote_container">
	<div class="quote">
		<span>"Sailors on a becalmed sea,
		we sense the stirring of a breeze."</span><br>
		<p>Carl Sagan, Pale Blue Dot: A Vision of the Human Future in Space</p>
	</div>

</div>
