<div class="top_container">
	<div id="main_banner"></div>
</div>
<div class="source_container">
	<div id="nasa_container">
		<a href="#/nasa"><img src="../assets/img/nasa_logo.png" alt="nasa logo" /></a>
	</div>
	<div id="reddit_container">
		<a href="#/reddit"><img src="../assets/img/reddit_logo2.png" alt="reddit logo" /></a>
	</div>
</div>
<div class="quote_container">
	<div class="quote">
		<span>"Sailors on a becalmed sea,
		we sense the stirring of a breeze."</span><br>
		<p>- Carl Sagan, Pale Blue Dot: <i>A Vision of the Human Future in Space</i></p>
	</div>
</div>
