<md-dialog aria-label="{{clickedPhoto.explanation}} || {{clickedPhoto.title}}"  style="background-color: black">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{clickedPhoto.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" id="clicked_photo">
                <img style="margin: auto; max-width: 100%" ng-if="hd === false" ng-src="{{clickedPhoto.url}}">
                <img style="margin: auto; max-width: 100%" ng-if="hd === true" ng-src="{{clickedPhoto.hdurl}}">
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-switch  class="md-primary" ng-model="hd" ng-change="onChange(hd)" aria-label="HD Switch" layout-align="center start">HD</md-switch>
            <md-button class="md-icon-button" aria-label="Remove Favorite"  ng-if="userLoggedIn == true && userFavUrls.includes(clickedPhoto.url) == true" ng-click="deleteFavorite1(clickedPhoto.url)">
                <md-icon class="material-icons" ng-style="{color: 'red'}">favorite</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Favorite"  ng-if="userLoggedIn == true && userFavUrls.includes(clickedPhoto.url) == false" ng-click="addFavorite1(clickedPhoto)">
                <md-icon class="material-icons" ng-style="{color: 'white'}">favorite_border</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Favorite" ng-if="userLoggedIn == false" ng-controller="mainController" ng-click="showLoginDialog($event)">
                <md-icon class="material-icons" ng-style="{color: 'gray'}">favorite</md-icon>
            </md-button>
            <a download href="{{clickedPhoto.hdurl}}" title="Download">
                <md-button class="md-icon-button">
                    <md-icon aria-label="menu" ng-style="{color: 'white'}">file_download</md-icon>
                </md-button>
            </a>
            <md-menu md-position-mode="target-right target" ng-controller="nasaController">
                <md-button class="md-icon-button" aria-label="Open share interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
                    <md-icon class="material-icons" md-menu-origin ng-style="{color: 'white'}">reply</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button class="material-icon-button" layout-align="center center"
                            socialshare
                            socialshare-provider="reddit"
                            socialshare-trigger="click"
                            socialshare-url="{{clickedPhoto.hdurl}}">
                            <md-icon class="material-icons" ng-style="{color: 'white'}"><i class="fa fa-reddit-alien"></i></md-icon>
                            <span>Reddit</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="material-icon-button" layout-align="center center"
                            socialshare
                            socialshare-provider="facebook"
                            socialshare-trigger="click"
                            socialshare-media="{{clickedPhoto.hdurl}}">
                            <md-icon class="material-icons" ng-style="{color: 'white'}"><i class="fa fa-facebook"></i></md-icon>
                            <span>Facebook</span>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button class="material-icon-button"
                            socialshare
                            socialshare-trigger="click"
                            socialshare-provider="email"
                            socialshare-body="{{clickedPhoto.hdurl}}"
                            socialshare-subject="Photo from nasa APOD">
                            <md-icon class="material-icons" ng-style="{color: 'white'}">email</md-icon>
                            <span>Email</span>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-dialog-actions>
    </form>
</md-dialog>
