<div class="top_container">
	<div id="profile_main_banner">
		<div id="profile_logo_container"><md-icon class="material-icons" aria-label="Close dialog" ng-style="{color: 'black'}">account_circle</md-icon>
			<h4>{{user.first_name}} {{user.last_name}}</h4>
		</div>
	</div>
</div>
<md-tabs md-stretch-tabs="always" md-selected="data.selectedIndex">
	<md-tab id="tab1" aria-controls="tab1-content">
		Info
	</md-tab>
	<md-tab id="tab2" aria-controls="tab2-content">
		Favorites
	</md-tab>
</md-tabs>
<md-content flex md-scroll-y>
	<ui-view layout="column" layout-fill layout-padding>
		<ng-switch on="data.selectedIndex" class="tabpanel-container">
			<div role="tabpanel"
				id="tab1-content"
				aria-labelledby="tab1"
				ng-switch-when="0"
				md-swipe-left="next()"
				md-swipe-right="previous()"
				layout="row" layout-align="center center">
				<md-card id="info_card">
					<md-card-content>
						<h2>Email: {{userInfo.email}}</h2>
						<!-- <h4>Password: {{userInfo.password}}</h4> STILL HASHED AND SALTED -->
						<h4 class="inset">Account Created: {{userInfo.createdAt | date: 'longDate'}}</h4>
					</md-card-content>
				</md-card>
			</div>
<!-- - - - - - - - - - - - - FAVORITES TAB- - - - - - - - - - - -  -->
			<div role="tabpanel"
				id="tab2-content"
				aria-labelledby="tab2"
				ng-switch-when="1"
				md-swipe-left="next()"
				md-swipe-right="previous()"
				layout="row" layout-align="center center">
				<md-card flex>
					<md-card-content>
						<md-list>
							<md-item ng-repeat="favorite in userFavorites | orderBy: 'createdAt':true ">
								<md-item-content layout="row">
                  <div class="md-tile-left left_tile">
                    <img src="{{favorite.url}}" class="favorite_image" ng-click="showPhoto($event, favorite)"/>
                	</div>
                  <div class="md-tile-content center_tile">
                    <h3>{{favorite.title}}</h3>
                    <h4 class="inset">Photographer: {{favorite.photographer}}</h4>
                    <p class="inset"><a href="{{favorite.hdUrl}}">HD Version</a></p>
                  </div>
										<md-card-actions  class="right_tile" layout="column" layout-align="center">
						          <md-button class="md-icon-button" aria-label="Favorite">
						            <md-icon class="material-icons" ng-style="{color: 'red'}">favorite</md-icon>
						          </md-button>
											<span flex></span>
						          <md-button class="md-icon-button" aria-label="Settings">
						            <md-icon class="material-icons" ng-style="{color: 'white'}">menu</md-icon>
						          </md-button>
											<span flex></span>
						          <md-button class="md-icon-button" aria-label="Favorite">
						            <md-icon class="material-icons" ng-style="{color: 'white'}">reply</md-icon>
						          </md-button>
						        </md-card-actions>
                </md-item-content>
                <md-divider ng-if="!$last"></md-divider>
							</md-item>
						</md-list>
					</md-card-content>
				</md-card>
			</div>
		</ng-switch>
	</ui-view>
</md-content>
