<md-dialog aria-label="{{clickedPhoto.explanation}} || {{clickedPhoto.title}}"  style="background-color: black">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{clickedPhoto.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content" id="clicked_photo">
            <img style="margin: auto; max-width: 100%;" ng-src="{{clickedPhoto.url}}">
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" ng-controller="mainController">
        <md-button ng-controller="profileController" class="md-icon-button" ng-click="deleteFavorite(clickedPhoto)">
            <md-icon aria-label="Close dialog" ng-style="{color: 'white'}">delete</md-icon>
        </md-button>
        <a download href="{{clickedPhoto.hdUrl}}" title="Download">
            <md-button class="md-icon-button">
                <md-icon aria-label="menu" ng-style="{color: 'white'}">file_download</md-icon>
            </md-button>
        </a>
        <md-button class="md-icon-button">
            <md-icon aria-label="reply" ng-style="{color: 'white'}">reply</md-icon>
        </md-button>
    </md-dialog-actions>
    </form>
</md-dialog>
