<div class="top_container">
  <div id="reddit_main_banner">
    <div id="reddit_logo_container">
      <img src="../assets/img/reddit_logo2.png" alt="" />
      <h4>"Not all those who wander are lost."</h4>
      <p>- J.R.R. Tolkien: <i>All That is Gold Does Not Glitter</i></p>
    </div>
  </div>
</div>
<div class="photo_container" ng-cloak>
  <md-content class="md-padding reddit_photo_card" layout="row">
    <md-card flex-xs flex-gt-xs="50" layout="column" ng-repeat="photo in photos"  ng-if="photo.data.post_hint == 'image' ">
      <md-card-content  layout="column" layout-align="space-between">
          <img ng-src="{{photo.data.url}}" class="md-card-image" alt="{{photo.explanation}}" ng-click="showPhoto($event, photo.data)"/>
        <md-card-title>
          <md-card-title-text>
            <span class="ms-headline">From: <br> {{photo.data.domain}}</span>
            <span class="md-subhead">Title: <br> {{photo.data.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite"  ng-if="userLoggedIn == true" ng-click="addFavorite(photo)">
            <md-icon class="material-icons" ng-style="{color: 'red'}">favorite</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Favorite" ng-if="userLoggedIn == false" ng-controller="mainController" ng-click="showLoginDialog($event)">
            <md-icon class="material-icons" ng-style="{color: 'gray'}">favorite</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon class="material-icons" ng-style="{color: 'white'}">menu</md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Reply">
            <md-icon class="material-icons" ng-style="{color: 'white'}">reply</md-icon>
          </md-button>
        </md-card-actions>
      </md-card-content>
    </md-card>
</md-content>
</div>
